<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Coming Soon</title>
  <style>
    body {
      text-align: center;
      font-family: Arial, sans-serif;
    }

    h1 {
      font-size: 48px;
      margin-top: 80px;
    }

    p {
      font-size: 24px;
      margin-top: 40px;
    }
  </style>
</head>
<body>
<h1>Coming Soon</h1>
<p>My portfolio website is under construction.</p>
<p>Stay tuned for updates!</p>
<p>
  Meanwhile, you can check out my
  <a href="https://github.com/NotBjoggisAtAll">GitHub</a> profile.
</p>
</body>
</html>